
<div class="footer_slider">
  <div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="4" data-sm-slides="8" data-md-slides="14" data-lg-slides="19" data-add-slides="19">
    <div class="swiper-wrapper">

      <div class="swiper-slide active" data-val="0">
        <img class="img-responsive img-full" src="img/f1.jpg" alt="">
      </div>
<!--
      <div class="swiper-slide" data-val="1">
        <a href="gallery.html">
          <img class="img-responsive img-full" src="img/f2.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide" data-val="2">
        <a href="gallery.html">
          <img class="img-responsive img-full" src="img/f3.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide" data-val="3">
        <a href="gallery.html">
          <img class="img-responsive img-full" src="img/f4.jpg" alt="">
        </a>
      </div>

      <div class="swiper-slide" data-val="4">
        <a href="gallery.html">
          <img class="img-responsive img-full" src="img/f5.jpg" alt="">
         </a>
      </div>

              <div class="swiper-slide" data-val="5">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f6.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="6">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f7.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="7">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f8.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="8">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f9.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="9">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f10.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="10">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f11.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="11">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f12.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="12">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f13.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="13">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f14.jpg" alt="">
               </a>

             </div>

              <div class="swiper-slide" data-val="14">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f15.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="15">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f16.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="16">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f17.jpg" alt="">
               </a>

             </div>
              <div class="swiper-slide" data-val="17">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f18.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="18">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f19.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="19">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f1.jpg" alt="">
               </a>
             </div>
              <div class="swiper-slide" data-val="20">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f2.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="21">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f3.jpg" alt="">
               </a>
             </div>

              <div class="swiper-slide" data-val="22">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f4.jpg" alt="">
               </a>

             </div>
              <div class="swiper-slide" data-val="23">
          <a href="gallery.html">

                   <img class="img-responsive img-full" src="img/f5.jpg" alt="">
               </a>
             </div>
-->
            </div>
            <div class="pagination hidden"></div>
        </div>
      </div>
