<% provide(:title, "Home") %>

<!-- HOME PAGE -->
<div class="head-bg">

  <div class="head-bg-img"><%# image_tag("soccer.jpeg") %></div>

  <div class="head-bg-content">
    <div class="welcome">
      <h1>Welcome to Spartan!</h1>
        <p>Manage your online athletic life</p>
          <span class="facebook btn">
            <i class="fa fa-facebook">sign-in with facebook</i>
          </span>

          <span class="be-register btn">
            <i class="fa fa-lock"><%= link_to 'sign up now', '/signup' %></i>
          </span>

    </div>
  </div><!-- end head-bg-content  -->

</div>
